.AppHeaderButton {
  border-radius: 4px;
  height: 36px;
  width: 42px;
  background: transparent;
  border: none;
  line-height: 30px;
  margin-right: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }

  &:active {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
  }

  &--close {
    &:hover {
      background: rgb(221, 50, 50);
      color: #fff;
    }

    &:active {
      background: rgb(184, 46, 46);
      color: #fff;
    }
  }
}
