@import '../windows.scss';

.WinMain {
    &__header {
        padding: 20px 15px;
        border-bottom: 1px solid $border-color;
        align-items: center;
    }
}

.main-header {
    &__logo {
        margin-right: 20px;
    }
}