$primary-color-1: #fff;
$primary-color-2: #ededed;
$primary-color-3: #d8d8d8;
$primary-color-4: #afafaf;

$secondary-color-4: #606060;
$secondary-color-3: #444;
$secondary-color-2: #262626;
$secondary-color-1: #000;