// Theme colors
@c-primary-1: #fff;
@c-primary-2: rgb(230, 230, 230);
@c-primary-3: rgb(200, 200, 200);
@c-primary-4: rgb(170, 170, 170);
@c-primary-5: rgb(130, 130, 130);

@c-secondary-1: rgb(130, 130, 130);
@c-secondary-2: rgb(110, 110, 110);
@c-secondary-3: rgb(80, 80, 80);
@c-secondary-4: rgb(50, 50, 50);
@c-secondary-5: rgb(25, 25, 25);
@c-secondary-6: rgb(19, 19, 19);

// Background of all windows
@body-background: @c-secondary-5;

// Basic background of components
@component-background: @c-secondary-5;

// Font settings
@font-family-no-number: "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

// Layout settings
@layout-body-background: @c-secondary-5;
@layout-header-background: @c-secondary-5;
@layout-sider-background: @c-secondary-5;
@layout-header-padding: 0 30px;