.Logo {
  margin-right: 15px;
  width: 50px;
  height: 27px;
  background: url('../../../../../assets/images/logo-dark.svg') left center no-repeat;
  background-size: contain;
  display: inline-block;
  cursor: pointer;
}
