@mixin define-blue {
  --color-blue-1: #e6f7ff;
  --color-blue-2: #bae7ff;
  --color-blue-3: #91d5ff;
  --color-blue-4: #69c0ff;
  --color-blue-5: #40a9ff;
  --color-blue-6: #1890ff;
  --color-blue-7: #096dd9;
  --color-blue-8: #0050b3;
  --color-blue-9: #003a8c;
  --color-blue-10: #002766;
}
