@mixin define-cyan {
  --color-cyan-1: #e6fffb;
  --color-cyan-2: #b5f5ec;
  --color-cyan-3: #87e8de;
  --color-cyan-4: #5cdbd3;
  --color-cyan-5: #36cfc9;
  --color-cyan-6: #13c2c2;
  --color-cyan-7: #08979c;
  --color-cyan-8: #006d75;
  --color-cyan-9: #00474f;
  --color-cyan-10: #002329;
}
