@mixin define-gold {
  --color-gold-1: #fffbe6;
  --color-gold-2: #fff1b8;
  --color-gold-3: #ffe58f;
  --color-gold-4: #ffd666;
  --color-gold-5: #ffc53d;
  --color-gold-6: #faad14;
  --color-gold-7: #d48806;
  --color-gold-8: #ad6800;
  --color-gold-9: #874d00;
  --color-gold-10: #613400;
}
