@mixin define-green {
  --color-green-1: #f6ffed;
  --color-green-2: #d9f7be;
  --color-green-3: #b7eb8f;
  --color-green-4: #95de64;
  --color-green-5: #73d13d;
  --color-green-6: #52c41a;
  --color-green-7: #389e0d;
  --color-green-8: #237804;
  --color-green-9: #135200;
  --color-green-10: #092b00;
}
