@mixin define-lime {
  --color-lime-1: #fcffe6;
  --color-lime-2: #f4ffb8;
  --color-lime-3: #eaff8f;
  --color-lime-4: #d3f261;
  --color-lime-5: #bae637;
  --color-lime-6: #a0d911;
  --color-lime-7: #7cb305;
  --color-lime-8: #5b8c00;
  --color-lime-9: #3f6600;
  --color-lime-10: #254000;
}
