@mixin define-magenta {
  --color-magenta-1: #fff0f6;
  --color-magenta-2: #ffd6e7;
  --color-magenta-3: #ffadd2;
  --color-magenta-4: #ff85c0;
  --color-magenta-5: #f759ab;
  --color-magenta-6: #eb2f96;
  --color-magenta-7: #c41d7f;
  --color-magenta-8: #9e1068;
  --color-magenta-9: #780650;
  --color-magenta-10: #520339;
}
