@mixin define-orange {
  --color-orange-1: #fff7e6;
  --color-orange-2: #ffe7ba;
  --color-orange-3: #ffd591;
  --color-orange-4: #ffc069;
  --color-orange-5: #ffa940;
  --color-orange-6: #fa8c16;
  --color-orange-7: #d46b08;
  --color-orange-8: #ad4e00;
  --color-orange-9: #873800;
  --color-orange-10: #612500;
}
