@mixin define-purple {
  --color-purple-1: #f9f0ff;
  --color-purple-2: #efdbff;
  --color-purple-3: #d3adf7;
  --color-purple-4: #b37feb;
  --color-purple-5: #9254de;
  --color-purple-6: #722ed1;
  --color-purple-7: #531dab;
  --color-purple-8: #391085;
  --color-purple-9: #22075e;
  --color-purple-10: #120338;
}
