@mixin define-red {
  --color-red-1: #fff1f0;
  --color-red-2: #ffccc7;
  --color-red-3: #ffa39e;
  --color-red-4: #ff7875;
  --color-red-5: #ff4d4f;
  --color-red-6: #f5222d;
  --color-red-7: #cf1322;
  --color-red-8: #a8071a;
  --color-red-9: #820014;
  --color-red-10: #5c0011;
}
