@mixin define-yellow {
  --color-yellow-1: #feffe6;
  --color-yellow-2: #ffffb8;
  --color-yellow-3: #fffb8f;
  --color-yellow-4: #fff566;
  --color-yellow-5: #ffec3d;
  --color-yellow-6: #fadb14;
  --color-yellow-7: #d4b106;
  --color-yellow-8: #ad8b00;
  --color-yellow-9: #876800;
  --color-yellow-10: #614700;
}
