@mixin define-main-colors {
  --color-primary: var(--color-blue-6, #1890ff);
  --color-info: var(--color-blue-6, #1890ff);
  --color-success: var(--color-green-6, #52c41a);
  --color-processing: var(--color-blue-6, #1890ff);
  --color-error: var(--color-red-6, #f5222d);
  --color-highlight: var(--color-red-6, #f5222d);
  --color-warning: var(--color-gold-6, #faad14);
  --color-normal: #d9d9d9;
  --color-white: #fff;
  --color-black: #000;
}
