.AppHeader {
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  height: 40px;
  padding: 5px 10px;
  line-height: 40px;

  &__left {
    height: 100%;
  }

  &__logo {
    margin-right: 15px;
    width: 55px;
    height: 30px;
    background: url('../../../assets/images/logo-dark.svg') left center no-repeat;
    background-size: contain;
    text-align: right;
    display: inline-block;
    font: {
      weight: 700;
      style: italic;
      size: 20px;
    }

    line-height: 44px;
    color: rgba(0, 0, 0, 0.33);
  }
}
