$font-main: Segoe UI, Noto Sans, Arial, sans-serif;
$font-size: 14px;

$color-main: #333;
$color-back: #fff;
$color-2nd: #2663a1;
$color-3rd: #4c7eb1;
$color-main-01: rgba(0,0,0,0.1);
$color-main-005: rgba(0,0,0,0.05);
$color-back-01: rgba(255,255,255,0.1);

$margin: 15px;
$padding: 10px;

$width-tablet: 500px;
$width-laptop: 1000px;