@import '../base.scss';

.App {
    &__header {
        padding: 20px 15px;
        border-bottom: 1px solid $border-color;
        align-items: center;
    }

    &__cont {
        height: calc(100vh - 96px);
    }
}

.main-header {
    &__logo {
        margin-right: 20px;
    }

    &__menu {
        li {
            border: 1px solid transparent;

            &:hover {
                border-color: $border-color;
            }
        }
    }
}