@mixin define-antd-alert {
  --alert-success-border-color: var(--color-green-3, #b7eb8f);
  --alert-success-background-color: var(--color-green-1, #f6ffed);
  --alert-success-icon-color: var(--color-success, var(--color-green-6, #52c41a));
  --alert-info-border-color: var(--color-blue-3, #91d5ff);
  --alert-info-background-color: var(--color-blue-1, #e6f7ff);
  --alert-info-icon-color: var(--color-info, var(--color-blue-6, #1890ff));
  --alert-warning-border-color: var(--color-gold-3, #ffe58f);
  --alert-warning-background-color: var(--color-gold-1, #fffbe6);
  --alert-warning-icon-color: var(--color-warning, var(--color-gold-6, #faad14));
  --alert-error-border-color: var(--color-red-3, #ffa39e);
  --alert-error-background-color: var(--color-red-1, #fff1f0);
  --alert-error-icon-color: var(--color-error, var(--color-red-6, #f5222d));
}
