@mixin define-antd-avatar {
  --avatar-size-base: 32px;
  --avatar-size-lg: 40px;
  --avatar-size-sm: 24px;
  --avatar-font-size-base: 18px;
  --avatar-font-size-lg: 24px;
  --avatar-font-size-sm: 14px;
  --avatar-background: #ccc;
  --avatar-color: #fff;
  --avatar-border-radius: var(--border-radius-base, 4px);
}
