@mixin define-antd-input {
  --input-height-base: 32px;
  --input-height-lg: 40px;
  --input-height-sm: 24px;
  --input-padding-horizontal: 11px;
  --input-padding-horizontal-sm: 7px;
  --input-placeholder-color: #bfbfbf;
  --input-color: var(--color-text, rgba(0, 0, 0, 0.65));
  --input-border-color: var(--color-border-base, #d8d8d8);
  --input-background: var(--color-white, #fff);
  --input-number-handler-active-background: #f4f4f4;
  --input-addon-background: var(--color-background-light, #f9f9f9);
  --input-outline-offset: 0 0;
}
