// Buttons
// --
@btn-font-weight: var(--btn-font-weight, 400);
@btn-border-radius-base: var(--btn-border-radius-base, var(--border-radius-base, 4px));
@btn-border-radius-sm: var(--btn-border-radius-sm, var(--border-radius-base, 4px));
@btn-border-width: var(--btn-border-width, var(--width-border-base, 1px));
@btn-border-style: var(--btn-border-style, var(--style-border-base, solid));
@btn-shadow: var(--btn-shadow, 0 2px 0 rgba(0, 0, 0, 0.015));
@btn-primary-shadow: var(--btn-primary-shadow, 0 2px 0 rgba(0, 0, 0, 0.045));
@btn-text-shadow: var(--btn-text-shadow, 0 -1px 0 rgba(0, 0, 0, 0.12));

@btn-primary-color: var(--btn-primary-color, var(--color-white, #fff));
@btn-primary-bg: var(
  --btn-primary-background,
  var(--color-primary, var(--color-blue-6, #1890ff))
);

@btn-default-color: var(--btn-default-color, var(--color-text, rgba(0, 0, 0, 0.65)));
@btn-default-bg: var(--btn-default-background, var(--color-white, #fff));
@btn-default-border: var(--btn-default-border-color, var(--color-border-base, #d8d8d8));

@btn-danger-color: var(
  --btn-danger-color,
  var(--color-error, var(--color-red-6, #f5222d))
);
@btn-danger-bg: var(--btn-danger-background, var(--color-background-base, #f4f4f4));
@btn-danger-border: var(--btn-danger-border-color, var(--color-border-base, #d8d8d8));

@btn-disable-color: var(--btn-disable-color, var(--color-disabled, rgba(0, 0, 0, 0.25)));
@btn-disable-bg: var(
  --btn-disable-background,
  var(--color-background-disabled, var(--color-background-base, #f4f4f4))
);
@btn-disable-border: var(--btn-disable-border-color, var(--color-border-base, #d8d8d8));

@btn-padding-base: 0 var(--btn-padding-base, 15px);
@btn-font-size-lg: var(--btn-font-size-lg, var(--font-size-lg, 16px));
@btn-font-size-sm: var(--btn-font-size-sm, var(--font-size-base, 14px));
@btn-padding-lg: 0 var(--btn-padding-lg, var(--btn-padding-base, 15px));
@btn-padding-sm: 0 var(--btn-padding-sm, 7px);

@btn-height-base: var(--btn-height-base, 32px);
@btn-height-lg: var(--btn-height-lg, 40px);
@btn-height-sm: var(--btn-height-sm, 24px);

@btn-circle-size: var(--btn-circle-size, var(--btn-height-base, 32px));
@btn-circle-size-lg: var(--btn-circle-size-lg, var(--btn-height-lg, 40px));
@btn-circle-size-sm: var(--btn-circle-size-sm, var(--btn-height-sm, 24px));

@btn-group-border: var(
  --btn-group-border-color,
  var(--color-primary-5, var(--color-blue-5, #40a9ff))
);
// --

// Checkbox
// --
@checkbox-size: var(--checkbox-size, 16px);
@checkbox-color: var(--checkbox-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@checkbox-check-color: var(--checkbox-check-color, var(--color-white, #fff));
@checkbox-border-width: var(--checkbox-border-width, var(--width-border-base, 1px));
// --

// Empty
@empty-font-size: var(--empty-font-size, var(--font-size-base, 14px));
// --

// Radio
@radio-size: var(--radio-size, 16px);
@radio-dot-color: var(--radio-dot-color, var(--color-primary, var(--color-blue-6, #1890ff)));

@radio-button-bg: var(
  --radio-button-background,
  var(--btn-default-background, var(--color-white, #fff))
);
@radio-button-checked-bg: var(
  --radio-button-checked-background,
  var(--btn-default-background, var(--color-white, #fff))
);
@radio-button-color: var(
  --radio-button-color,
  var(--btn-default-color, var(--color-text, rgba(0, 0, 0, 0.65)))
);
@radio-button-hover-color: var(
  --radio-button-hover-color,
  var(--color-primary-5, var(--color-blue-5, #40a9ff))
);
@radio-button-active-color: var(
  --radio-button-active-color,
  var(--color-primary-7, var(--color-blue-7, #096dd9))
);
