/** Blue colors redefine */
@blue-1: var(--color-blue-1, #e6f7ff);
@blue-2: var(--color-blue-2, #bae7ff);
@blue-3: var(--color-blue-3, #91d5ff);
@blue-4: var(--color-blue-4, #69c0ff);
@blue-5: var(--color-blue-5, #40a9ff);
@blue-6: var(--color-blue-6, #1890ff);
@blue-7: var(--color-blue-7, #096dd9);
@blue-8: var(--color-blue-8, #0050b3);
@blue-9: var(--color-blue-9, #003a8c);
@blue-10: var(--color-blue-10, #002766);

@cyan-1: var(--color-cyan-1, #e6fffb);
@cyan-2: var(--color-cyan-2, #b5f5ec);
@cyan-3: var(--color-cyan-3, #87e8de);
@cyan-4: var(--color-cyan-4, #5cdbd3);
@cyan-5: var(--color-cyan-5, #36cfc9);
@cyan-6: var(--color-cyan-6, #13c2c2);
@cyan-7: var(--color-cyan-7, #08979c);
@cyan-8: var(--color-cyan-8, #006d75);
@cyan-9: var(--color-cyan-9, #00474f);
@cyan-10: var(--color-cyan-10, #002329);

@geekblue-1: var(--color-geekblue-1, #f0f5ff);
@geekblue-2: var(--color-geekblue-2, #d6e4ff);
@geekblue-3: var(--color-geekblue-3, #adc6ff);
@geekblue-4: var(--color-geekblue-4, #85a5ff);
@geekblue-5: var(--color-geekblue-5, #597ef7);
@geekblue-6: var(--color-geekblue-6, #2f54eb);
@geekblue-7: var(--color-geekblue-7, #1d39c4);
@geekblue-8: var(--color-geekblue-8, #10239e);
@geekblue-9: var(--color-geekblue-9, #061178);
@geekblue-10: var(--color-geekblue-10, #030852);

@gold-1: var(--color-gold-1, #fffbe6);
@gold-2: var(--color-gold-2, #fff1b8);
@gold-3: var(--color-gold-3, #ffe58f);
@gold-4: var(--color-gold-4, #ffd666);
@gold-5: var(--color-gold-5, #ffc53d);
@gold-6: var(--color-gold-6, #faad14);
@gold-7: var(--color-gold-7, #d48806);
@gold-8: var(--color-gold-8, #ad6800);
@gold-9: var(--color-gold-9, #874d00);
@gold-10: var(--color-gold-10, #613400);

@green-1: var(--color-green-1, #f6ffed);
@green-2: var(--color-green-2, #d9f7be);
@green-3: var(--color-green-3, #b7eb8f);
@green-4: var(--color-green-4, #95de64);
@green-5: var(--color-green-5, #73d13d);
@green-6: var(--color-green-6, #52c41a);
@green-7: var(--color-green-7, #389e0d);
@green-8: var(--color-green-8, #237804);
@green-9: var(--color-green-9, #135200);
@green-10: var(--color-green-10, #092b00);

@lime-1: var(--color-lime-1, #fcffe6);
@lime-2: var(--color-lime-2, #f4ffb8);
@lime-3: var(--color-lime-3, #eaff8f);
@lime-4: var(--color-lime-4, #d3f261);
@lime-5: var(--color-lime-5, #bae637);
@lime-6: var(--color-lime-6, #a0d911);
@lime-7: var(--color-lime-7, #7cb305);
@lime-8: var(--color-lime-8, #5b8c00);
@lime-9: var(--color-lime-9, #3f6600);
@lime-10: var(--color-lime-10, #254000);

@magenta-1: var(--color-magenta-1, #fff0f6);
@magenta-2: var(--color-magenta-2, #ffd6e7);
@magenta-3: var(--color-magenta-3, #ffadd2);
@magenta-4: var(--color-magenta-4, #ff85c0);
@magenta-5: var(--color-magenta-5, #f759ab);
@magenta-6: var(--color-magenta-6, #eb2f96);
@magenta-7: var(--color-magenta-7, #c41d7f);
@magenta-8: var(--color-magenta-8, #9e1068);
@magenta-9: var(--color-magenta-9, #780650);
@magenta-10: var(--color-magenta-10, #520339);

// This alias is in Antd, so it will be used there too
@pink-1: var(--color-magenta-1, #fff0f6);
@pink-2: var(--color-magenta-2, #ffd6e7);
@pink-3: var(--color-magenta-3, #ffadd2);
@pink-4: var(--color-magenta-4, #ff85c0);
@pink-5: var(--color-magenta-5, #f759ab);
@pink-6: var(--color-magenta-6, #eb2f96);
@pink-7: var(--color-magenta-7, #c41d7f);
@pink-8: var(--color-magenta-8, #9e1068);
@pink-9: var(--color-magenta-9, #780650);
@pink-10: var(--color-magenta-10, #520339);

@orange-1: var(--color-orange-1, #fff7e6);
@orange-2: var(--color-orange-2, #ffe7ba);
@orange-3: var(--color-orange-3, #ffd591);
@orange-4: var(--color-orange-4, #ffc069);
@orange-5: var(--color-orange-5, #ffa940);
@orange-6: var(--color-orange-6, #fa8c16);
@orange-7: var(--color-orange-7, #d46b08);
@orange-8: var(--color-orange-8, #ad4e00);
@orange-9: var(--color-orange-9, #873800);
@orange-10: var(--color-orange-10, #612500);

@purple-1: var(--color-purple-1, #f9f0ff);
@purple-2: var(--color-purple-2, #efdbff);
@purple-3: var(--color-purple-3, #d3adf7);
@purple-4: var(--color-purple-4, #b37feb);
@purple-5: var(--color-purple-5, #9254de);
@purple-6: var(--color-purple-6, #722ed1);
@purple-7: var(--color-purple-7, #531dab);
@purple-8: var(--color-purple-8, #391085);
@purple-9: var(--color-purple-9, #22075e);
@purple-10: var(--color-purple-10, #120338);

@red-1: var(--color-red-1, #fff1f0);
@red-2: var(--color-red-2, #ffccc7);
@red-3: var(--color-red-3, #ffa39e);
@red-4: var(--color-red-4, #ff7875);
@red-5: var(--color-red-5, #ff4d4f);
@red-6: var(--color-red-6, #f5222d);
@red-7: var(--color-red-7, #cf1322);
@red-8: var(--color-red-8, #a8071a);
@red-9: var(--color-red-9, #820014);
@red-10: var(--color-red-10, #5c0011);

@volcano-1: var(--color-volcano-1, #fff2e8);
@volcano-2: var(--color-volcano-2, #ffd8bf);
@volcano-3: var(--color-volcano-3, #ffbb96);
@volcano-4: var(--color-volcano-4, #ff9c6e);
@volcano-5: var(--color-volcano-5, #ff7a45);
@volcano-6: var(--color-volcano-6, #fa541c);
@volcano-7: var(--color-volcano-7, #d4380d);
@volcano-8: var(--color-volcano-8, #fff2e8);
@volcano-9: var(--color-volcano-9, #fff2e8);
@volcano-10: var(--color-volcano-10, #fff2e8);

@yellow-1: var(--color-yellow-1, #feffe6);
@yellow-2: var(--color-yellow-2, #ffffb8);
@yellow-3: var(--color-yellow-3, #fffb8f);
@yellow-4: var(--color-yellow-4, #fff566);
@yellow-5: var(--color-yellow-5, #ffec3d);
@yellow-6: var(--color-yellow-6, #fadb14);
@yellow-7: var(--color-yellow-7, #d4b106);
@yellow-8: var(--color-yellow-8, #ad8b00);
@yellow-9: var(--color-yellow-9, #876800);
@yellow-10: var(--color-yellow-10, #614700);


@primary-color: var(--color-primary, var(--color-blue-6, #1890ff));
@info-color: var(--color-info, var(--color-blue-6, #1890ff));
@success-color: var(--color-success, var(--color-green-6, #52c41a));
@processing-color: var(--color-processing, var(--color-blue-6, #1890ff));
@error-color: var(--color-error, var(--color-red-6, #f5222d));
@highlight-color: var(--color-highlight, var(--color-red-6, #f5222d));
@warning-color: var(--color-warning, var(--color-gold-6, #faad14));
@normal-color: var(--color-normal, #d9d9d9);
// @white: var(--color-white, #fff);
// @black: var(--color-black, #000);

@primary-1: var(--color-primary-1, var(--color-blue-1, #e6f7ff));
@primary-2: var(--color-primary-2, var(--color-blue-2, #bae7ff));
@primary-3: var(--color-primary-3, var(--color-blue-3, #91d5ff));
@primary-4: var(--color-primary-4, var(--color-blue-4, #69c0ff));
@primary-5: var(--color-primary-5, var(--color-blue-5, #40a9ff));
@primary-6: var(--color-primary-6, var(--color-blue-6, #1890ff));
@primary-7: var(--color-primary-7, var(--color-blue-7, #096dd9));
@primary-8: var(--color-primary-8, var(--color-blue-8, #0050b3));
@primary-9: var(--color-primary-9, var(--color-blue-9, #003a8c));
@primary-10: var(--color-primary-10, var(--color-blue-10, #002766));

@body-background: var(--color-body-background, var(--color-white, #fff));
@component-background: var(--color-component-background, var(--color-white, #fff));
@font-family: var(--font-base, 'Segoe UI', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol');
@code-family: var(--font-code, 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace);
@text-color: var(--color-text, rgba(0, 0, 0, 0.65));
@text-color-secondary: var(--color-text-secondary, rgba(0, 0, 0, 0.45));
@text-color-warning: var(--color-text-warning, var(--color-gold-7, #d48806));
@text-color-danger: var(--color-text-danger, var(--color-red-7, #cf1322));
@text-color-inverse: var(--color-text-inverse, var(--color-white, #fff));
@icon-color: var(--color-icon, inherit);
@icon-color-hover: var(--color-icon-hover, rgba(0, 0, 0, 0.75));
@heading-color: var(--color-heading, rgba(0, 0, 0, 0.85));
@heading-color-dark: var(--color-heading-dark, rgba(255, 255, 255, 0.85));
@text-color-dark: var(--color-text-dark, rgba(255, 255, 255, 0.85));
@text-color-secondary-dark: var(--color-text-secondary-dark, rgba(255, 255, 255, 0.65));
@text-selection-bg: var(--color-text-selection-bg, var(--color-primary, var(--color-blue-6, #1890ff)));
@font-variant-base: var(--font-variant-base, tabular-nums);
@font-feature-settings-base: var(--font-feature-settings-base, 'tnum');
// @font-size-base: var(--font-size-base, 14px);
// @font-size-lg: var(--font-size-lg, 16px);
// @font-size-sm: var(--font-size-sm, 12px);
// @heading-1-size: var(--font-size-heading-1, 38px);
// @heading-2-size: var(--font-size-heading-2, 30px);
// @heading-3-size: var(--font-size-heading-3, 24px);
// @heading-4-size: var(--font-size-heading-4, 20px);
// @line-height-base: var(--line-height-base, 1.5);
@border-radius-base: var(--border-radius-base, 4px);
@border-radius-sm: var(--border-radius-sm, 2px);

// @padding-lg: var(--padding-lg, 24px);
// @padding-md: var(--padding-md, 16px);
// @padding-sm: var(--padding-sm, 12px);
// @padding-xs: var(--padding-xs, 8px);

// @control-padding-horizontal: var(--padding-control-horizontal, var(--padding-sm, 12px));
// @control-padding-horizontals-sm: var(--padding-control-horizontal-sm, var(--padding-xs, 8px));

@item-active-bg: var(--bg-item-active, var(--color-primary-1, var(--color-blue-1, #e6f7ff)));
@item-hover-bg: var(--bg-item-hover, var(--color-primary-1, var(--color-blue-1, #e6f7ff)));

@link-color: var(--color-link, var(--color-primary-6, var(--color-blue-6, #1890ff)));
@link-hover-color: var(--color-link-hover, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
@link-active-color: var(--color-link-active, var(--color-primary-7, var(--color-blue-7, #096dd9)));
@link-decoration: var(--link-decoration, none);
@link-hover-decoration: var(--link-decoration-hover, none);

@ease-base-out: var(--animation-ease-base-out, cubic-bezier(0.7, 0.3, 0.1, 1));
@ease-base-in: var(--animation-ease-base-in, cubic-bezier(0.9, 0, 0.3, 0.7));
@ease-out: var(--animation-ease-out, cubic-bezier(0.215, 0.61, 0.355, 1));
@ease-in: var(--animation-ease-in, cubic-bezier(0.55, 0.055, 0.675, 0.19));
@ease-in-out: var(--animation-ease-in-out, cubic-bezier(0.645, 0.045, 0.355, 1));
@ease-out-back: var(--animation-ease-out-back, cubic-bezier(0.12, 0.4, 0.29, 1.46));
@ease-in-back: var(--animation-ease-in-back, cubic-bezier(0.71, -0.46, 0.88, 0.6));
@ease-in-out-back: var(--animation-ease-in-out-back, cubic-bezier(0.71, -0.46, 0.29, 1.46));
@ease-out-circ: var(--animation-ease-out-circ, cubic-bezier(0.08, 0.82, 0.17, 1));
@ease-in-circ: var(--animation-ease-in-circ, cubic-bezier(0.6, 0.04, 0.98, 0.34));
@ease-in-out-circ: var(--animation-ease-in-out-circ, cubic-bezier(0.78, 0.14, 0.15, 0.86));
@ease-out-quint: var(--animation-ease-out-quint, cubic-bezier(0.23, 1, 0.32, 1));
@ease-in-quint: var(--animation-ease-in-quint, cubic-bezier(0.755, 0.05, 0.855, 0.06));
@ease-in-out-quint: var(--animation-ease-in-out-quint, cubic-bezier(0.86, 0, 0.07, 1));

@border-color-base: var(--color-border-base, #d8d8d8);
@border-color-split: var(--color-border-split, #e8e8e8);
@border-color-inverse: var(--color-border-inverse, var(--color-white, #fff));
// @border-width-base: var(--width-border-base, 1px);
@border-style-base: var(--style-border-base, solid);

// @outline-blur-size: var(--outline-blur-size, 0);
// @outline-width: var(--width-outline, 2px);
// @outline-color: var(--color-outline, var(--color-primary, var(--color-blue-6, #1890ff)));

@background-color-light: var(--color-background-light, #f9f9f9);
@background-color-base: var(--color-background-base, #f4f4f4);

@disabled-color: var(--color-disabled, rgba(0, 0, 0, 0.25));
@disabled-bg: var(--color-background-disabled, var(--color-background-base, #f4f4f4));
@disabled-color-dark: var(--color-disabled-dark, rgba(255, 255, 255, 0.35));

@shadow-color: var(--color-shadow, rgba(0, 0, 0, 0.15));
@shadow-color-inverse: var(--color-shadow-inverse, var(--color-component-background, var(--color-white, #fff)));
@box-shadow-base: var(--shadow-box-base, var(--shadow-1-down, 0 2px 8px var(--color-shadow, rgba(0, 0, 0, 0.15))));
@shadow-1-up: var(--shadow-1-up, 0 -2px 8px var(--color-shadow, rgba(0, 0, 0, 0.15)));
@shadow-1-down: var(--shadow-1-down, 0 2px 8px var(--color-shadow, rgba(0, 0, 0, 0.15)));
@shadow-1-left: var(--shadow-1-left, -2px 0 8px var(--color-shadow, rgba(0, 0, 0, 0.15)));
@shadow-1-right: var(--shadow-1-right, 2px 0 8px var(--color-shadow, rgba(0, 0, 0, 0.15)));
@shadow-2: var(--shadow-2, 0 4px 12px var(--color-shadow, rgba(0, 0, 0, 0.15)));

// Buttons
// --
@btn-font-weight: var(--btn-font-weight, 400);
@btn-border-radius-base: var(--btn-border-radius-base, var(--border-radius-base, 4px));
@btn-border-radius-sm: var(--btn-border-radius-sm, var(--border-radius-base, 4px));
// @btn-border-width: var(--btn-border-width, var(--width-border-base, 1px));
@btn-border-style: var(--btn-border-style, var(--style-border-base, solid));
@btn-shadow: var(--btn-shadow, 0 2px 0 rgba(0, 0, 0, 0.015));
@btn-primary-shadow: var(--btn-primary-shadow, 0 2px 0 rgba(0, 0, 0, 0.045));
@btn-text-shadow: var(--btn-text-shadow, 0 -1px 0 rgba(0, 0, 0, 0.12));

@btn-primary-color: var(--btn-primary-color, var(--color-white, #fff));
@btn-primary-bg: var(--btn-primary-background, var(--color-primary, var(--color-blue-6, #1890ff)));

@btn-default-color: var(--btn-default-color, var(--color-text, rgba(0, 0, 0, 0.65)));
@btn-default-bg: var(--btn-default-background, var(--color-white, #fff));
@btn-default-border: var(--btn-default-border-color, var(--color-border-base, #d8d8d8));

@btn-danger-color: var(--btn-danger-color, var(--color-error, var(--color-red-6, #f5222d)));
@btn-danger-bg: var(--btn-danger-background, var(--color-background-base, #f4f4f4));
@btn-danger-border: var(--btn-danger-border-color, var(--color-border-base, #d8d8d8));

@btn-disable-color: var(--btn-disable-color, var(--color-disabled, rgba(0, 0, 0, 0.25)));
@btn-disable-bg: var(--btn-disable-background, var(--color-background-disabled, var(--color-background-base, #f4f4f4)));
@btn-disable-border: var(--btn-disable-border-color, var(--color-border-base, #d8d8d8));

// @btn-padding-base: 0 var(--btn-padding-base, 15px);
// @btn-font-size-lg: var(--btn-font-size-lg, var(--font-size-lg, 16px));
// @btn-font-size-sm: var(--btn-font-size-sm, var(--font-size-base, 14px));
// @btn-padding-lg: 0 var(--btn-padding-lg, var(--btn-padding-base, 15px));
// @btn-padding-sm: 0 var(--btn-padding-sm, 7px);

// @btn-height-base: var(--btn-height-base, 32px);
// @btn-height-lg: var(--btn-height-lg, 40px);
// @btn-height-sm: var(--btn-height-sm, 24px);

// @btn-circle-size: var(--btn-circle-size, var(--btn-height-base, 32px));
// @btn-circle-size-lg: var(--btn-circle-size-lg, var(--btn-height-lg, 40px));
// @btn-circle-size-sm: var(--btn-circle-size-sm, var(--btn-height-sm, 24px));

@btn-group-border: var(--btn-group-border-color, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
// --

// Checkbox
// --
// @checkbox-size: var(--checkbox-size, 16px);
@checkbox-color: var(--checkbox-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@checkbox-check-color: var(--checkbox-check-color, var(--color-white, #fff));
@checkbox-border-width: var(--checkbox-border-width, var(--width-border-base, 1px));
// --

// Empty
// @empty-font-size: var(--empty-font-size, var(--font-size-base, 14px));
// --

// Radio
// @radio-size: var(--radio-size, 16px);
@radio-dot-color: var(--radio-dot-color, var(--color-primary, var(--color-blue-6, #1890ff)));

@radio-button-bg: var(--radio-button-background, var(--btn-default-background, var(--color-white, #fff)));
@radio-button-checked-bg: var(--radio-button-checked-background, var(--btn-default-background, var(--color-white, #fff)));
@radio-button-color: var(--radio-button-color, var(--btn-default-color, var(--color-text, rgba(0, 0, 0, 0.65))));
@radio-button-hover-color: var(--radio-button-hover-color, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
@radio-button-active-color: var(--radio-button-active-color, var(--color-primary-7, var(--color-blue-7, #096dd9)));
// --

// Layout
// --
@layout-body-background: var(--layout-body-background, #f0f2f5);
@layout-header-background: var(--layout-header-background, #001529);
@layout-footer-background: var(--layout-footer-background, var(--layout-body-background, #f0f2f5));
// @layout-header-height: var(--layout-header-height, 64px);
// @layout-header-padding: var(--layout-header-padding, 0 50px);
// @layout-footer-padding: var(--layout-footer-padding, 24px 50px);
@layout-sider-background: var(--layout-sider-background, var(--layout-header-background, #001529));
// @layout-trigger-height: var(--layout-trigger-height, 48px);
@layout-trigger-background: var(--layout-trigger-background, #002140);
@layout-trigger-color: var(--layout-trigger-color, var(--color-white, #fff));
// @layout-zero-trigger-width: var(--layout-zero-trigger-width, 36px);
// @layout-zero-trigger-height: var(--layout-zero-trigger-height, 42px);

@layout-sider-background-light: var(--layout-sider-background-light, var(--color-white, #fff));
@layout-trigger-background-light: var(--layout-trigger-background-light, var(--color-white, #fff));
@layout-trigger-color-light: var(--layout-trigger-color-light, var(--color-text, rgba(0, 0, 0, 0.65)));
// --

// Form
// --
@label-required-color: var(--label-required-color, var(--color-highlight, var(--color-red-6, #f5222d)));
@label-color: var(--label-color, var(--color-heading, rgba(0, 0, 0, 0.85)));
// @form-item-margin-bottom: var(--form-item-margin-bottom, 24px);
// @form-vertical-label-padding: var(--form-vertical-label-padding, 0 0 8px);
// @form-vertical-label-margin: var(--form-vertical-label-margin, 0);
// --

// Input
// --
// @input-height-base: var(--input-height-base, 32px);
// @input-height-lg: var(--input-height-lg, 40px);
// @input-height-sm: var(--input-height-sm, 24px);
// @input-padding-horizontal: var(--input-padding-horizontal, 11px);
// @input-padding-horizontal-base: var(
//   --input-padding-horizontal-base,
//   var(--input-padding-horizontal, 11px)
// );
// @input-padding-horizontal-sm: var(--input-padding-horizontal-sm, 7px);
// @input-padding-horizontal-lg: var(
//   --input-padding-horizontal-lg,
//   var(--input-padding-horizontal, 11px)
// );
@input-placeholder-color: var(--input-placeholder-color, #bfbfbf);
@input-color: var(--input-color, var(--color-text, rgba(0, 0, 0, 0.65)));
@input-border-color: var(--input-border-color, var(--color-border-base, #d8d8d8));
@input-bg: var(--input-background, var(--color-white, #fff));
@input-number-handler-active-bg: var(--input-number-handler-active-background, #f4f4f4);
@input-addon-bg: var(--input-addon-background, var(--color-background-light, #f9f9f9));
@input-hover-border-color: var(--input-hover-border-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@input-disabled-bg: var(--input-disabled-background, var(--color-background-disabled, var(--color-background-base, #f4f4f4)));
@input-outline-offset: var(--input-outline-offset, 0 0);
// --

// Select
// --
@select-border-color: var(--select-border-color, var(--color-border-base, #d8d8d8));
@select-item-selected-font-weight: var(--select-item-selected-font-weight, 600);
// --

// Tooltip
// @tooltip-max-width: var(--tooltip-max-width, 250px);
@tooltip-color: var(--tooltip-color, var(--color-white, #fff));
@tooltip-bg: var(--tooltip-background, rgba(0, 0, 0, 0.75));
// @tooltip-arrow-width: var(--tooltip-arrow-width, 5px);
// @tooltip-distance: var(--tooltip-distance, 8px);
@tooltip-arrow-color: var(--tooltip-arrow-color, var(--tooltip-background, rgba(0, 0, 0, 0.75)));
// --

// Popover
// --
@popover-bg: var(--popover-background, var(--color-white, #fff));
@popover-color: var(--popover-color, var(--color-text, rgba(0, 0, 0, 0.65)));
// @popover-min-width: var(--popover-min-width, 177px);
// @popover-arrow-width: var(--popover-arrow-width, 6px);
@popover-arrow-color: var(--popover-arrow-color, var(--popover-background, var(--color-white, #fff)));
@popover-arrow-outer-color: var(--popover-arrow-outer-color, var(--popover-background, var(--color-white, #fff)));
// @popover-distance: var(--popover-distance, 10px);
// --

// Modal
// --
// @modal-body-padding: var(--modal-body-padding, 24px);
@modal-header-bg: var(--modal-header-background, var(--color-component-background, var(--color-white, #fff)));
@modal-footer-bg: var(--modal-footer-background, transparent);
@modal-mask-bg: var(--modal-mask-background, rgba(0, 0, 0, 0.65));
// --

// Progress
// --
@progress-default-color: var(--progress-default-color, var(--color-processing, var(--color-blue-6, #1890ff)));
@progress-remaining-color: var(--progress-remaining-color, var(--color-background-base, #f4f4f4));
@progress-text-color: var(--progress-text-color, var(--color-text, rgba(0, 0, 0, 0.65)));
// --

// Menu
// --
// @menu-inline-toplevel-item-height: var(--menu-inline-toplevel-item-height, 40px);
// @menu-item-height: var(--menu-item-height, 40px);
// @menu-collapsed-width: var(--menu-collapsed-width, 80px);
@menu-bg: var(--menu-background, var(--color-component-background, var(--color-white, #fff)));
@menu-popup-bg: var(--menu-popup-background, var(--color-component-background, var(--color-white, #fff)));
@menu-item-color: var(--menu-item-color, var(--color-text, rgba(0, 0, 0, 0.65)));
@menu-highlight-color: var(--menu-highlight-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@menu-item-active-bg: var(--menu-item-active-background, var(--bg-item-active, var(--color-primary-1, var(--color-blue-1, #e6f7ff))));
@menu-item-active-border-width: var(--menu-item-active-border-width, 3px);
@menu-item-group-title-color: var(--menu-item-group-title-color, var(--color-text-secondary, rgba(0, 0, 0, 0.45)));

@menu-dark-color: var(--menu-dark-color, var(--color-text-secondary-dark, rgba(255, 255, 255, 0.65)));
@menu-dark-bg: var(--menu-dark-background, var(--layout-header-background, #001529));
@menu-dark-arrow-color: var(--menu-dark-arrow-color, var(--color-white, #fff));
@menu-dark-submenu-bg: var(--menu-dark-submenu-background, #000c17);
@menu-dark-highlight-color: var(--menu-dark-highlight-color, var(--color-white, #fff));
@menu-dark-item-active-bg: var(--menu-dark-item-active-background, var(--color-primary, var(--color-blue-6, #1890ff)));
// --

// Spin
// --
// @spin-dot-size-sm: var(--spin-dot-size-sm, 14px);
// @spin-dot-size: var(--spin-dot-size, 20px);
// @spin-dot-size-lg: var(--spin-dot-size-lg, 32px);
// --

// Table
// --
@table-header-bg: var(--table-header-background, var(--color-background-light, #f9f9f9));
@table-header-color: var(--table-header-color, var(--color-heading, rgba(0, 0, 0, 0.85)));
@table-header-sort-bg: var(--table-header-sort-background, var(--color-background-base, #f4f4f4));
@table-body-sort-bg: var(--table-body-sort-background, rgba(0, 0, 0, 0.01));
@table-row-hover-bg: var(--table-row-hover-background, var(--color-primary-1, var(--color-blue-1, #e6f7ff)));
@table-selected-row-bg: var(--table-selected-row-background, #fafafa);
@table-expanded-row-bg: var(--table-expanded-row-background, #fbfbfb);
// @table-padding-vertical: var(--table-padding-vertical, 16px);
// @table-padding-horizontal: var(--table-padding-horizontal, 16px);
// @table-border-radius-base: var(--table-border-radius-base, var(--border-radius-base, 4px));
// --

// Tag
// --
@tag-default-bg: var(--tag-default-background, var(--color-background-light, #f9f9f9));
@tag-default-color: var(--tag-default-color, var(--color-text, rgba(0, 0, 0, 0.65)));
// @tag-font-size: var(--tag-font-size, var(--font-size-sm, 12px));
// --

// Timepicker
// @time-picker-panel-column-width: var(--time-picker-panel-column-width, 56px);
// @time-picker-panel-width: var(--time-picker-panel-width, 168px);
@time-picker-selected-bg: var(--time-picker-selected-background, var(--color-background-base, #f4f4f4));
// --

// Badge
// --
// @badge-height: var(--badge-height, 20px);
// @badge-dot-size: var(--badge-dot-size, 6px);
@badge-font-size: var(--badge-font-size, var(--font-size-sm, 12px));
@badge-font-weight: var(--badge-font-weight, normal);
// @badge-status-size: var(--badge-status-size, 6px);
@badge-text-color: var(--badge-text-color, var(--color-component-background, var(--color-white, #fff)));
// --

// Rate
// --
@rate-star-color: var(--rate-star-color, var(--color-yellow-6, #fadb14));
@rate-star-bg: var(--rate-star-background, var(--color-border-split, #e8e8e8));
// --

// Card
// --
@card-head-color: var(--card-header-color, var(--color-heading, rgba(0, 0, 0, 0.85)));
@card-head-background: var(--card-head-background, transparent);
// @card-head-padding: var(--card-head-padding, 16px);
// @card-inner-head-padding: var(--card-inner-head-padding, 12px);
// @card-padding-base: var(--card-padding-base, 24px);
@card-actions-background: var(--card-actions-background, var(--color-background-light, #f9f9f9));
// @card-background: var(--card-background, #cfd8dc);
@card-shadow: var(--card-shadow, 0 2px 8px rgba(0, 0, 0, 0.09));
@card-radius: var(--card-radius, var(--border-radius-sm, 2px));
// --

// Tabs
// --
@tabs-card-head-background: var(--tabs-card-head-background, var(--color-background-light, #f9f9f9));
// @tabs-card-height: var(--tabs-card-height, 40px);
@tabs-card-active-color: var(--tabs-card-active-color, var(--color-primary, var(--color-blue-6, #1890ff)));
// @tabs-title-font-size: var(--tabs-title-font-size, var(--font-size-base, 14px));
// @tabs-title-font-size-lg: var(--tabs-title-font-size-lg, var(--font-size-lg, 16px));
// @tabs-title-font-size-sm: var(--tabs-title-font-size-sm, var(--font-size-base, 14px));
@tabs-ink-bar-color: var(--tabs-ink-bar-color, var(--color-primary, var(--color-blue-6, #1890ff)));
// @tabs-bar-margin: var(--tabs-bar-margin, 0 0 16px 0);
// @tabs-horizontal-margin: var(--tabs-horizontal-margin, 0 32px 0 0);
// @tabs-horizontal-padding: var(--tabs-horizontal-padding, 12px 16px);
// @tabs-horizontal-padding-lg: var(--tabs-horizontal-padding-lg, 16px);
// @tabs-horizontal-padding-sm: var(--tabs-horizontal-padding-sm, 8px 16px);
// @tabs-vertical-padding: var(--tabs-vertical-padding, 8px 24px);
// @tabs-vertical-margin: var(--tabs-vertical-margin, 0 0 16px 0);
// @tabs-scrolling-size: var(--tabs-scrolling-size, 32px);
@tabs-highlight-color: var(--tabs-highlight-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@tabs-hover-color: var(--tabs-hover-color, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
@tabs-active-color: var(--tabs-active-color, var(--color-primary-7, var(--color-blue-7, #096dd9)));
// --

// Backtop
// --
@back-top-color: var(--back-top-color, var(--color-white, #fff));
@back-top-bg: var(--back-top-background, var(--color-text-secondary, rgba(0, 0, 0, 0.45)));
@back-top-hover-bg: var(--back-top-hover-background, var(--color-text, rgba(0, 0, 0, 0.65)));
// --

// Avatar
// --
// @avatar-size-base: var(--avatar-size-base, 32px);
// @avatar-size-lg: var(--avatar-size-lg, 40px);
// @avatar-size-sm: var(--avatar-size-sm, 24px);
// @avatar-font-size-base: var(--avatar-font-size-base, 18px);
// @avatar-font-size-lg: var(--avatar-font-size-lg, 24px);
// @avatar-font-size-sm: var(--avatar-font-size-sm, 14px);
@avatar-bg: var(--avatar-background, #ccc);
@avatar-color: var(--avatar-color, #fff);
// @avatar-border-radius: var(--avatar-border-radius, var(--border-radius-base, 4px));
// --

// Switch
// --
// @switch-height: var(--switch-height, 22px);
// @switch-sm-height: var(--switch-sm-height, 16px);
// @switch-sm-checked-margin-left: var(--switch-sm-checked-margin-left, -13px);
@switch-disabled-opacity: var(--switch-disabled-opacity, 0.4);
@switch-color: var(--switch-color, var(--color-primary, var(--color-blue-6, #1890ff)));
@switch-shadow-color: var(--switch-shadow-color, rgba(0, 35, 11, 0.2));
// --

// Pagination
// --
// @pagination-item-size: var(--pagination-item-size, 32px);
// @pagination-item-size-sm: var(--pagination-item-size-sm, 24px);
@pagination-font-family: var(--pagination-font-family, Arial);
@pagination-font-weight-active: var(--pagination-font-weight-active, 500);
@pagination-item-bg-active: var(--pagination-item-background-active, var(--color-component-background, var(--color-white, #fff)));
// --

// Breadcrumb
@breadcrumb-base-color: var(--breadcrumb-base-color, var(--color-text-secondary, rgba(0, 0, 0, 0.45)));
@breadcrumb-last-item-color: var(--breadcrumb-last-item-color, var(--color-text, rgba(0, 0, 0, 0.65)));
// @breadcrumb-font-size: var(--breadcrumb-font-size, var(--font-size-base, 14px));
// @breadcrumb-icon-font-size: var(--breadcrumb-icon-font-size, var(--font-size-base, 14px));
@breadcrumb-link-color: var(--breadcrumb-link-color, var(--color-text-secondary, rgba(0, 0, 0, 0.45)));
@breadcrumb-link-color-hover: var(--breadcrumb-link-color-hover, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
@breadcrumb-separator-color: var(--breadcrumb-separator-color, var(--color-text-secondary, rgba(0, 0, 0, 0.45)));
// @breadcrumb-separator-margin: var(--breadcrumb-separator-margin, 0 var(--padding-xs, 8px));
// --

// Slider
// --
// @slider-margin: var(--slider-margin, 14px 6px 10px);
@slider-rail-background-color: var(--slider-rail-background-color, var(--color-background-base, #f4f4f4));
@slider-rail-background-color-hover: var(--slider-rail-background-color-hover, #e1e1e1);
@slider-track-background-color: var(--slider-track-background-color, var(--color-primary-3, var(--color-blue-3, #91d5ff)));
@slider-track-background-color-hover: var(--slider-track-background-color-hover, var(--color-primary-4, var(--color-blue-4, #69c0ff)));
@slider-handle-color: var(--slider-handle-color, var(--color-primary-3, var(--color-blue-3, #91d5ff)));
@slider-handle-color-hover: var(--slider-handle-color-hover, var(--color-primary-4, var(--color-blue-4, #69c0ff)));
@slider-handle-color-focus: var(--slider-handle-color-focus, var(--color-primary-5, var(--color-blue-5, #40a9ff)));
@slider-handle-color-focus-shadow: var(--slider-handle-color-focus-shadow, rgba(24, 144, 255, 0.2));
@slider-handle-color-tooltip-open: var(--slider-handle-color-tooltip-open, var(--color-primary, var(--color-blue-6, #1890ff)));
@slider-dot-border-color: var(--slider-dot-border-color, var(--color-border-split, #e8e8e8));
@slider-dot-border-color-active: var(--slider-dot-border-color-active, var(--color-primary-3, var(--color-blue-3, #91d5ff)));
@slider-disabled-color: var(--slider-disabled-color, var(--color-disabled, rgba(0, 0, 0, 0.25)));
@slider-disabled-background-color: var(--slider-disabled-background-color, var(--color-component-background, var(--color-white, #fff)));
// --

// Tree
// --
// @tree-title-height: var(--tree-title-height, 24px);
// @tree-child-padding: var(--tree-child-padding, 18px);
@tree-directory-selected-color: var(--tree-directory-selected-color, var(--color-white, #fff));
@tree-directory-selected-bg: var(--tree-directory-selected-background, var(--color-primary, var(--color-blue-6, #1890ff)));
// --

// Collapse
// --
// @collapse-header-padding: var(--collapse-header-padding, 12px 16px 12px 40px);
@collapse-header-bg: var(--collapse-header-background, var(--color-background-light, #f9f9f9));
// @collapse-content-padding: var(--collapse-content-padding, var(--padding-md, 16px));
@collapse-content-bg: var(--collapse-content-background, var(--color-component-background, var(--color-white, #fff)));
// --

// Skeleton
// --
@skeleton-color: var(--skeleton-color, #f2f2f2);
// --

// Transfer
// --
@transfer-disabled-bg: var(--transfer-disabled-background, var(--color-background-disabled, var(--color-background-base, #f4f4f4)));
// --

// Alert
// --
@alert-success-border-color: var(--alert-success-border-color, var(--color-green-3, #b7eb8f));
@alert-success-bg-color: var(--alert-success-background-color, var(--color-green-1, #f6ffed));
@alert-success-icon-color: var(--alert-success-icon-color, var(--color-success, var(--color-green-6, #52c41a)));
@alert-info-border-color: var(--alert-info-border-color, var(--color-blue-3, #91d5ff));
@alert-info-bg-color: var(--alert-info-background-color, var(--color-blue-1, #e6f7ff));
@alert-info-icon-color: var(--alert-info-icon-color, var(--color-info, var(--color-blue-6, #1890ff)));
@alert-warning-border-color: var(--alert-warning-border-color, var(--color-gold-3, #ffe58f));
@alert-warning-bg-color: var(--alert-warning-background-color, var(--color-gold-1, #fffbe6));
@alert-warning-icon-color: var(--alert-warning-icon-color, var(--color-warning, var(--color-gold-6, #faad14)));
@alert-error-border-color: var(--alert-error-border-color, var(--color-red-3, #ffa39e));
@alert-error-bg-color: var(--alert-error-background-color, var(--color-red-1, #fff1f0));
@alert-error-icon-color: var(--alert-error-icon-color, var(--color-error, var(--color-red-6, #f5222d)));
// --


/**
Not redefined:
- ant-prefix
- html-selector
- iconfont-css-prefix
- all media queries
- all z-indexes
- all animation timings
- form -> form-item-trailing-colon
- carousel
- comment
- page header
- message
- motion
- list
- statistic
- drawer
*/
